#ide {
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0;
  right: 0;
}

#src { 
  position: absolute;
  top: 0;
  bottom: 25%;
  left: 50%;
  right: 0;
}

#spec {
  position: absolute;
  top: 0;
  bottom: 25%;
  left: 0;
  right: 50%;
}

#out {
  position: absolute;
  top: 75%;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
}

.chrome .btn { margin-top: 5px; }

body.the_blackness {
  background-color: black ;
}

.haz_iframe {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 600px;
  padding: 2px;
  border-radius: 10px;
  border: 1px solid white ;
}

iframe {
  width: 800px;
  height: 600px;
  z-index: -99999;
  border: 0;
}

*[id*='runner'] { display: none; }
