#ide {
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0;
  right: 0;
}

#src { 
  position: absolute;
  top: 0;
  bottom: 25%;
  left: 50%;
  right: 0;
}

#spec {
  position: absolute;
  top: 0;
  bottom: 25%;
  left: 0;
  right: 50%;
}

#out {
  position: absolute;
  top: 75%;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
}

*[id*='runner'] { display: none; }
